<height-transition>
	<aside key="edit" class="edit" v-bind:class="{ 'is-opened': edit.state, 'is-global': options && options.global }">
		<button v-if="edit.state && options.dirty" v-on:click="save" class="edit--save">
			Sauver
		</button>
		<button v-on:click="toggleEdit" class="edit--start">
			<span v-show="!edit.state" v-html="current.toggleButton.off"></span>
			<span v-show="edit.state" v-html="current.toggleButton.on"></span>
		</button>
		<height-transition>
			<div key="box" v-show="edit.state" class="edit--editbox"></div>
		</height-transition>
	</aside>
</height-transition>