<div class="home">
	<header class="home--logo">
		<h1><img src="media/images/logo.svg" alt="Orchard ID"></h1>
	</header>
	<nav class="home--navigation">
		<ul>
			<li v-bind:class="{ 'is-selected': global.webconfig.options.menu[0] }"><a href="https://www.orchard-id.fr" v-bind:title="specific.languages[0].title" v-html="specific.languages[0].content"></a></li>
			<li v-bind:class="{ 'is-selected': global.webconfig.options.menu[1] }"><a href="https://www.orchard-id.com" v-bind:title="specific.languages[1].title" v-html="specific.languages[1].content"></a></li>
		</ul>
	</nav>
	<article class="home--content">
		<h1><img src="media/images/title.svg" v-bind:alt="specific.title"></h1>
		<div v-html="specific.content" v-edit></div>
	</article>
	<footer class="home--infos">
		<div class="home--infos--identity">
			Orchard ID S.A.S.<br>
			4 rue Saint-François de Salles<br>
			74000 Annecy<br>
			France
		</div>
		<ul class="home--infos--contacts">
			<li>+33 6 66 86 92 78</li>
			<li><a href="mailto:hello@orchard-id.com" title="Contacter Orchard ID">hello@orchard-id.com</a></li>
			<li><a href="https://www.orchard-id.com" title="Site Internet de Orchard ID">www.orchard-id.com</a></li>
		</ul>
		<ul class="home--infos--networks">
			<li><a href="https://www.linkedin.com/company/orchard-id" title="Orchard ID @ LinkedIn">LinkedIn</a></li>
			<li><a href="https://plus.google.com/b/101265063888841351659/101265063888841351659" title="Orchard ID @ Google+">Google+</a></li>
			<li><a href="https://www.pinterest.com/orchardid/" title="Orchard ID @ Pinterest">Pinterest</a></li>
			<li><a href="https://www.behance.net/Orchard-ID" title="Orchard ID @ Behance">Behance</a></li>
			<li><a href="https://github.com/orchard-id" title="Orchard ID @ Github">Github</a></li>
		</ul>
	</footer>
	<edit v-if="global.me.id && !global.isServer" v-bind:global="global" v-bind:file="$options.name" v-bind:json="specific" v-bind:current="common.edit.currentPage" v-bind:options="options"></edit>
</div>