<div class="login">
	<header class="login--logo">
		<h1><img src="media/images/logo.svg" alt="Orchard ID"></h1>
	</header>
	<div class="login--content">
		<h1 v-html="specific.title"></h1>
		<div v-if="!global.me.id">
			<div v-html="specific.content.unauthenticated"></div>
			<form class="login--form" action="" method="post">
				<div class="field email" v-bind:class="{ invalid: !isEmail(email) && email !== undefined }">
					<label for="login-form--email" v-html="specific.email.label.content"></label>
					<input type="text" id="login-form--email" class="login-form--email" name="email" v-bind:placeholder="specific.email.label.placeholder" v-model="email">
					<div class="errors" v-if="email === '' && email !== undefined" v-html="specific.email.error.empty"></div>
					<div class="errors" v-if="!isEmail(email) && email != undefined && email !== ''" v-html="specific.email.error.badFormat"></div>
				</div>

				<div class="field password" v-bind:class="{ invalid: !password && password !== undefined }">
					<label for="login-form--password" v-html="specific.password.label.content"></label>
					<input type="password" id="login-form--password" class="login-form--password" name="password" v-bind:placeholder="specific.password.label.placeholder" v-model="password">
					<div class="errors" v-if="password === '' && password !== undefined" v-html="specific.password.error.empty"></div>
				</div>

				<div class="submit">
					<label><button v-on:click.prevent="doAuthentication" v-bind:class="{ invalid: !isAuthenticable() }" class="login-form--button" v-html="specific.button.label.content"></button></label>
					<span v-if="error" class="errors">
						<span class="empty" v-html="specific.button.error.empty"></span>
					</span>
				</div>
			</form>
		</div>
		<div v-else>
			<div v-html="specific.content.authenticated"></div>
			<form class="login--form" action="" method="post">
				<button class="login-form--cancel" v-on:click.prevent="doUnauthentication" v-html="specific.cancel.label.content"></button>
			</form>
		</div>
		<p><router-link v-bind:to="specific.link.href" title="specific.link.title" v-html="specific.link.content"></router-link></p>
	</div>
</div>